In [7]:
from nba_api.stats.endpoints import leaguedashplayerstats as stats
from nba_api.stats.static import players
from nba_api.stats.library.parameters import SeasonType
from unidecode import unidecode
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
# Constants

const_stats_object_kwargs = {
    'last_n_games': 0, 
    'per_mode_detailed': 'PerGame', 
    'season_type_all_star': SeasonType.regular, 
    'measure_type_detailed_defense': 'Base'
}

const_stats_columns_to_drop = ['NICKNAME','GP','W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', \
                                'FG3A', 'FTA', 'FTM', 'DREB', 'PF', 'L_RANK', 'FGM_RANK', \
                                'FGA_RANK', 'FG3A_RANK', 'FTM_RANK', 'FTA_RANK', 'NBA_FANTASY_PTS', \
                               'NBA_FANTASY_PTS_RANK', 'CFID', 'CFPARAMS']

years = list(range(1996, 2022))
season_years = []
for pos in range(len(years) - 1):
    season_year = str(years[pos]) + '-' + str(years[pos + 1])[2:]
    season_years.append(season_year)

In [32]:
# Functions

def extract_mvp_votes(years):
    
    mvp_votes_by_season = {}
    
    for year in years:
        url = f'https://www.basketball-reference.com/awards/awards_{year}.html#mvp'
        response = requests.get(url)
        if response.status_code != 200:
            return response.status_code
        
        soup = BeautifulSoup(response.text)
        table_body = soup.find('table', {'id': 'mvp'}).find('tbody')
        rows = table_body.find_all('tr')

        mvp_votes = []
        for row in rows:
            player_data = []
            player = row.find('td').find('a').text
            player_data.append(player)
            votes = row.find('td', {'data-stat': 'points_won'}).text
            player_data.append(int(float(votes)))
            percentage = row.find('td', {'data-stat': 'award_share'}).text
            player_data.append(float(percentage))
            mvp_votes.append(player_data)
            
        mvp_votes_by_season[year] = pd.DataFrame(mvp_votes, columns = ['PLAYER', 'VOTES', 'VOTES_PCT'])
    
    return mvp_votes_by_season

def find_player_id(player):
    
    player_list = players.find_players_by_full_name(f'^{player}$')
    
    if len(player_list) == 0:
        return np.nan
    
    elif len(player_list) == 1:
        return player_list[0]['id']
    
    else:
        ids = []
        for player in player_list:
            ids.append(player['id'])
        return min(ids)

def steve_smith(df):
    df.loc[df[df['PLAYER'] == 'Steve Smith'].index, 'PLAYER_ID'] = 120

In [4]:
mvp_years = years[1:]

In [37]:
mvp_votes_stats_seasons = extract_mvp_votes(mvp_years)

In [38]:
for year in mvp_votes_stats_seasons:
    mvp_votes_stats_seasons[year]['PLAYER'] = mvp_votes_stats_seasons[year]['PLAYER'].apply(unidecode)
    mvp_votes_stats_seasons[year]['PLAYER_ID'] = mvp_votes_stats_seasons[year]['PLAYER'].apply(find_player_id)
    mvp_votes_stats_seasons[year]['PLAYER_ID'].fillna(120, inplace = True)
    mvp_votes_stats_seasons[year]['PLAYER_ID'] = mvp_votes_stats_seasons[year]['PLAYER_ID'].astype(int)
    print(mvp_votes_stats_seasons[year])

              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        Karl Malone    986      0.857        252
1     Michael Jordan    957      0.832        893
2         Grant Hill    376      0.327        255
3       Tim Hardaway    238      0.207        896
4          Glen Rice    134      0.117        779
5        Gary Payton    105      0.091         56
6    Hakeem Olajuwon     95      0.083        165
7      Patrick Ewing     57      0.050        121
8      Anthony Mason      7      0.006        193
9   Shaquille O'Neal      7      0.006        406
10    Scottie Pippen      6      0.005        937
11   Alonzo Mourning      5      0.004        297
12   Dikembe Mutombo      4      0.003         87
13    Mitch Richmond      4      0.003        782
14     John Stockton      3      0.003        304
15   Charles Barkley      2      0.002        787
16     Tom Gugliotta      1      0.001        339
17     Allen Iverson      1      0.001        947
18     Kevin Johnson      1      0.001        134
19       Steve Smith      1      0.001        120
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0     Michael Jordan   1084      0.934        893
1        Karl Malone    842      0.726        252
2        Gary Payton    431      0.372         56
3   Shaquille O'Neal    311      0.268        406
4         Tim Duncan    148      0.128       1495
5       Tim Hardaway     71      0.061        896
6     David Robinson     36      0.031        764
7          Vin Baker     24      0.021        452
8         Grant Hill     23      0.020        255
9     Scottie Pippen     14      0.012        937
10         Glen Rice      7      0.006        779
11    Antoine Walker      6      0.005        952
12        Jason Kidd      5      0.004        467
13     John Stockton      5      0.004        304
14    Mitch Richmond      3      0.003        782
15     Reggie Miller      2      0.002        397
16         Rik Smits      2      0.002         22
17    Michael Finley      1      0.001        714
18    Rod Strickland      1      0.001        393
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0         Karl Malone    827      0.701        252
1     Alonzo Mourning    773      0.655        297
2          Tim Duncan    740      0.627       1495
3       Allen Iverson    319      0.270        947
4          Jason Kidd    159      0.135        467
5    Shaquille O'Neal     89      0.075        406
6        Chris Webber     51      0.043        185
7          Grant Hill     39      0.033        255
8         Gary Payton     35      0.030         56
9       Kevin Garnett      9      0.008        708
10         Shawn Kemp      7      0.006        431
11     David Robinson      6      0.005        764
12    Hakeem Olajuwon      3      0.003        165
13    Arvydas Sabonis      3      0.003        717
14  Darrell Armstrong      2      0.002        353
15       Vince Carter      1      0.001       1713
16  Anfernee Hardaway      1      0.001        358
17       Mark Jackson      1      0.001        349
18     Glenn Robinson      1      0.001        299
19        Steve Smith      1      0.001        120
20    Rasheed Wallace      1      0.001        739
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0    Shaquille O'Neal   1207      0.998        406
1       Kevin Garnett    408      0.337        708
2     Alonzo Mourning    367      0.303        297
3         Karl Malone    312      0.258        252
4          Tim Duncan    248      0.205       1495
5         Gary Payton    180      0.149         56
6       Allen Iverson    132      0.109        947
7          Grant Hill    113      0.093        255
8        Chris Webber     96      0.079        185
9        Vince Carter     51      0.042       1713
10         Jason Kidd     25      0.021        467
11        Kobe Bryant      3      0.002        977
12  Darrell Armstrong      1      0.001        353
13     Michael Finley      1      0.001        714
14      Reggie Miller      1      0.001        397
15         Jalen Rose      1      0.001        147
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0      Allen Iverson   1121      0.904        947
1         Tim Duncan    706      0.569       1495
2   Shaquille O'Neal    578      0.466        406
3       Chris Webber    521      0.420        185
4      Kevin Garnett    151      0.122        708
5      Tracy McGrady     64      0.052       1503
6        Karl Malone     21      0.017        252
7         Jason Kidd     18      0.015        467
8        Kobe Bryant     11      0.009        977
9     David Robinson      8      0.006        764
10         Ray Allen      7      0.006        951
11      Vince Carter      7      0.006       1713
12       Paul Pierce      5      0.004       1718
13  Jerry Stackhouse      3      0.002        711
14    Michael Finley      1      0.001        714
15     Anthony Mason      1      0.001        193
16     John Stockton      1      0.001        304
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0         Tim Duncan    954      0.757       1495
1         Jason Kidd    897      0.712        467
2   Shaquille O'Neal    696      0.552        406
3      Tracy McGrady    390      0.310       1503
4        Kobe Bryant     98      0.078        977
5        Gary Payton     54      0.043         56
6       Chris Webber     37      0.029        185
7      Dirk Nowitzki     31      0.025       1717
8      Allen Iverson     29      0.023        947
9        Ben Wallace     24      0.019       1112
10       Paul Pierce     22      0.017       1718
11     Kevin Garnett     17      0.013        708
12    Michael Jordan     16      0.013        893
13        Steve Nash      5      0.004        959
14  Jerry Stackhouse      3      0.002        711
15        Mike Bibby      1      0.001       1710
16       Elton Brand      1      0.001       1882
17   Peja Stojakovic      1      0.001        978
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0         Tim Duncan    962      0.808       1495
1      Kevin Garnett    871      0.732        708
2        Kobe Bryant    496      0.417        977
3      Tracy McGrady    427      0.359       1503
4   Shaquille O'Neal    126      0.106        406
5      Allen Iverson     83      0.070        947
6      Dirk Nowitzki     43      0.036       1717
7        Ben Wallace     33      0.028       1112
8         Jason Kidd     31      0.026        467
9       Chris Webber     19      0.016        185
10    Jamal Mashburn      1      0.001        469
11        Steve Nash      1      0.001        959
12       Paul Pierce      1      0.001       1718
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0      Kevin Garnett   1219      0.991        708
1         Tim Duncan    716      0.582       1495
2    Jermaine O'Neal    523      0.425        979
3    Peja Stojakovic    281      0.228        978
4        Kobe Bryant    212      0.172        977
5   Shaquille O'Neal    178      0.145        406
6        Ben Wallace     24      0.020       1112
7         Jason Kidd     17      0.014        467
8       LeBron James     11      0.009       2544
9        Sam Cassell      4      0.003        208
10       Baron Davis      4      0.003       1884
11     Dirk Nowitzki      4      0.003       1717
12  Andrei Kirilenko      2      0.002       1905
13   Carmelo Anthony      1      0.001       2546
14          Yao Ming      1      0.001       2397
15      Michael Redd      1      0.001       2072
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0          Steve Nash   1066      0.839        959
1    Shaquille O'Neal   1032      0.813        406
2       Dirk Nowitzki    349      0.275       1717
3          Tim Duncan    328      0.258       1495
4       Allen Iverson    240      0.189        947
5        LeBron James     93      0.073       2544
6       Tracy McGrady     44      0.035       1503
7         Dwyane Wade     43      0.034       2548
8   Amar'e Stoudemire     41      0.032       2405
9           Ray Allen     41      0.032        951
10      Kevin Garnett     15      0.012        708
11     Gilbert Arenas      4      0.003       2240
12       Vince Carter      3      0.002       1713
13         P.J. Brown      1      0.001        136
14       Marcus Camby      1      0.001        948
15       Shawn Marion      1      0.001       1890

              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0         Steve Nash    924      0.739        959
1       LeBron James    688      0.550       2544
2      Dirk Nowitzki    544      0.435       1717
3        Kobe Bryant    483      0.386        977
4   Chauncey Billups    430      0.344       1497
5        Dwyane Wade     87      0.070       2548
6        Elton Brand     50      0.040       1882
7         Tim Duncan     33      0.026       1495
8        Tony Parker      9      0.007       2225
9      Allen Iverson      1      0.001        947
10      Shawn Marion      1      0.001       1890
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0       Dirk Nowitzki   1138      0.882       1717
1          Steve Nash   1013      0.785        959
2         Kobe Bryant    521      0.404        977
3          Tim Duncan    286      0.222       1495
4        LeBron James    183      0.142       2544
5       Tracy McGrady    110      0.085       1503
6          Chris Bosh     43      0.033       2547
7      Gilbert Arenas     31      0.024       2240
8       Carlos Boozer      7      0.005       2430
9       Kevin Garnett      7      0.005        708
10   Chauncey Billups      4      0.003       1497
11   Shaquille O'Neal      3      0.002        406
12        Dwyane Wade      3      0.002       2548
13  Amar'e Stoudemire      2      0.002       2405
14    Carmelo Anthony      1      0.001       2546
15        Baron Davis      1      0.001       1884
16        Tony Parker      1      0.001       2225
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0         Kobe Bryant   1100      0.873        977
1          Chris Paul    894      0.710     101108
2       Kevin Garnett    670      0.532        708
3        LeBron James    438      0.348       2544
4       Dwight Howard     60      0.048       2730
5   Amar'e Stoudemire     27      0.021       2405
6          Tim Duncan     25      0.020       1495
7       Tracy McGrady     19      0.015       1503
8          Steve Nash     18      0.014        959
9       Manu Ginobili      9      0.007       1938
10      Dirk Nowitzki      5      0.004       1717
11     Deron Williams      4      0.003     101114
12    Carmelo Anthony      3      0.002       2546
13      Carlos Boozer      1      0.001       2430
14     Antawn Jamison      1      0.001       1712
15        Paul Pierce      1      0.001       1718
16    Rasheed Wallace      1      0.001        739
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0       LeBron James   1172      0.969       2544
1        Kobe Bryant    698      0.577        977
2        Dwyane Wade    680      0.562       2548
3      Dwight Howard    328      0.271       2730
4         Chris Paul    192      0.159     101108
5   Chauncey Billups     33      0.027       1497
6        Paul Pierce     21      0.017       1718
7        Tony Parker      9      0.007       2225
8        Brandon Roy      7      0.006     200750
9      Dirk Nowitzki      3      0.002       1717
10        Tim Duncan      2      0.002       1495
11          Yao Ming      1      0.001       2397
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        LeBron James   1205      0.980       2544
1        Kevin Durant    609      0.495     201142
2         Kobe Bryant    599      0.487        977
3       Dwight Howard    478      0.389       2730
4         Dwyane Wade    119      0.097       2548
5     Carmelo Anthony     65      0.053       2546
6       Dirk Nowitzki     55      0.045       1717
7          Steve Nash     49      0.040        959
8      Deron Williams      7      0.006     101114
9   Amar'e Stoudemire      5      0.004       2405
10      Manu Ginobili      3      0.002       1938
11   Chauncey Billups      1      0.001       1497
12         Chris Bosh      1      0.001       2547
13    Stephen Jackson      1      0.001       1536
14        Joe Johnson      1      0.001       2207
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        Derrick Rose   1182      0.977     201565
1       Dwight Howard    643      0.531       2730
2        LeBron James    522      0.431       2544
3         Kobe Bryant    428      0.354        977
4        Kevin Durant    190      0.157     201142
5       Dirk Nowitzki    113      0.093       1717
6         Dwyane Wade     24      0.020       2548
7       Manu Ginobili     20      0.017       1938
8   Amar'e Stoudemire      9      0.007       2405
9       Blake Griffin      5      0.004     201933
10        Rajon Rondo      5      0.004     200765
11        Tony Parker      3      0.002       2225
12         Chris Paul      2      0.002     101108
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        LeBron James   1074      0.888       2544
1        Kevin Durant    889      0.735     201142
2          Chris Paul    385      0.318     101108
3         Kobe Bryant    352      0.291        977
4         Tony Parker    331      0.274       2225
5          Kevin Love     58      0.048     201567
6       Dwight Howard     13      0.011       2730
7         Rajon Rondo     12      0.010     200765
8          Steve Nash      7      0.006        959
9         Dwyane Wade      6      0.005       2548
10       Derrick Rose      5      0.004     201565
11      Dirk Nowitzki      4      0.003       1717
12  Russell Westbrook      4      0.003     201566
13         Tim Duncan      3      0.002       1495
14        Joe Johnson      1      0.001       2207
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        LeBron James   1207      0.998       2544
1        Kevin Durant    765      0.632     201142
2     Carmelo Anthony    475      0.393       2546
3          Chris Paul    289      0.239     101108
4         Kobe Bryant    184      0.152        977
5         Tony Parker     86      0.071       2225
6          Tim Duncan     65      0.054       1495
7        James Harden     33      0.027     201935
8   Russell Westbrook      9      0.007     201566
9         Dwyane Wade      5      0.004       2548
10      Stephen Curry      3      0.002     201939
11      Kevin Garnett      1      0.001        708
12         Marc Gasol      1      0.001     201188
13          Ty Lawson      1      0.001     201951
14          David Lee      1      0.001     101135
15        Joakim Noah      1      0.001     201149
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0        Kevin Durant   1232      0.986     201142
1        LeBron James    891      0.713       2544
2       Blake Griffin    434      0.347     201933
3         Joakim Noah    322      0.258     201149
4        James Harden     85      0.068     201935
5       Stephen Curry     66      0.053     201939
6          Chris Paul     45      0.036     101108
7        Al Jefferson     34      0.027       2744
8         Paul George     33      0.026     202331
9   LaMarcus Aldridge     26      0.021     200746
10         Kevin Love     25      0.020     201567
11         Tim Duncan     21      0.017       1495
12        Tony Parker     21      0.017       2225
13      Dirk Nowitzki      7      0.006       1717
14    Carmelo Anthony      4      0.003       2546
15       Goran Dragic      3      0.002     201609
16        Mike Conley      1      0.001     201144
               PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0       Stephen Curry   1198      0.922     201939
1        James Harden    936      0.720     201935
2        LeBron James    552      0.425       2544
3   Russell Westbrook    352      0.271     201566
4       Anthony Davis    203      0.156     203076
5          Chris Paul    124      0.095     101108
6   LaMarcus Aldridge      6      0.005     200746
7          Marc Gasol      3      0.002     201188
8       Blake Griffin      3      0.002     201933
9          Tim Duncan      1      0.001       1495
10      Kawhi Leonard      1      0.001     202695
11      Klay Thompson      1      0.001     202691
              PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0      Stephen Curry   1310      1.000     201939
1      Kawhi Leonard    634      0.484     202695
2       LeBron James    631      0.482       2544
3  Russell Westbrook    486      0.371     201566
4       Kevin Durant    147      0.112     201142
5         Chris Paul    107      0.082     101108
6     Draymond Green     50      0.038     203110
7     Damian Lillard     26      0.020     203081
8       James Harden      9      0.007     201935
9         Kyle Lowry      6      0.005     200768
                   PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0       Russell Westbrook    888      0.879     201566
1            James Harden    753      0.746     201935
2           Kawhi Leonard    500      0.495     202695
3            LeBron James    333      0.330       2544
4           Isaiah Thomas     81      0.080     202738
5           Stephen Curry     52      0.051     201939
6   Giannis Antetokounmpo      7      0.007     203507
7               John Wall      7      0.007     202322
8           Anthony Davis      2      0.002     203076
9            Kevin Durant      2      0.002     201142
10          DeMar DeRozan      1      0.001     201942

                   PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0            James Harden    965      0.955     201935
1            LeBron James    738      0.731       2544
2           Anthony Davis    445      0.441     203076
3          Damian Lillard    207      0.205     203081
4       Russell Westbrook     76      0.075     201566
5   Giannis Antetokounmpo     75      0.074     203507
6            Kevin Durant     66      0.065     201142
7           DeMar DeRozan     32      0.032     201942
8       LaMarcus Aldridge      6      0.006     200746
9            Jimmy Butler      5      0.005     202710
10          Stephen Curry      5      0.005     201939
11            Joel Embiid      4      0.004     203954
12         Victor Oladipo      2      0.002     203506
                   PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0   Giannis Antetokounmpo    941      0.932     203507
1            James Harden    776      0.768     201935
2             Paul George    356      0.352     202331
3            Nikola Jokic    212      0.210     203999
4           Stephen Curry    175      0.173     201939
5          Damian Lillard     69      0.068     203081
6             Joel Embiid     49      0.049     203954
7            Kevin Durant     25      0.025     201142
8           Kawhi Leonard     13      0.013     202695
9       Russell Westbrook      8      0.008     201566
10            Rudy Gobert      1      0.001     203497
11           LeBron James      1      0.001       2544
                   PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0   Giannis Antetokounmpo    962      0.952     203507
1            LeBron James    753      0.746       2544
2            James Harden    367      0.363     201935
3             Luka Doncic    200      0.198    1629029
4           Kawhi Leonard    168      0.166     202695
5           Anthony Davis     82      0.081     203076
6              Chris Paul     26      0.026     101108
7          Damian Lillard     23      0.023     203081
8            Nikola Jokic     18      0.018     203999
9           Pascal Siakam     17      0.017    1627783
10           Jimmy Butler      9      0.009     202710
11           Jayson Tatum      1      0.001    1628369
                   PLAYER  VOTES  VOTES_PCT  PLAYER_ID
0            Nikola Jokic    971      0.961     203999
1             Joel Embiid    586      0.580     203954
2           Stephen Curry    453      0.449     201939
3   Giannis Antetokounmpo    348      0.345     203507
4              Chris Paul    139      0.138     101108
5             Luka Doncic     42      0.042    1629029
6          Damian Lillard     38      0.038     203081
7           Julius Randle     20      0.020     203944
8            Derrick Rose     10      0.010     201565
9             Rudy Gobert      8      0.008     203497
10      Russell Westbrook      5      0.005     201566
11            Ben Simmons      3      0.003    1627732
12           James Harden      1      0.001     201935
13           LeBron James      1      0.001       2544
14          Kawhi Leonard      1      0.001     202695

In [7]:
stats_dfs_by_season = {}
for season in season_years:
    stats_df = stats.LeagueDashPlayerStats(**const_stats_object_kwargs, season = season).get_data_frames()[0]
    stats_df.drop(columns = const_stats_columns_to_drop, inplace = True)
    stats_df.dropna(inplace = True)
    stats_df['AGE'] = stats_df['AGE'].astype(int)
    stats_dfs_by_season[season] = stats_df

In [8]:
for season in stats_dfs_by_season:
    print(f'Season: {season}')
    print(stats_dfs_by_season[season].info())
    print(f'Null values: {stats_dfs_by_season[season].isnull().sum().sum()}')
    print('\n---------------------------\n')

Season: 1996-97
<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 4 to 444
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          441 non-null    int64
 1   PLAYER_NAME        441 non-null    object
 2   TEAM_ID            441 non-null    float64
 3   TEAM_ABBREVIATION  441 non-null    object
 4   AGE                441 non-null    int32
 5   FG_PCT             441 non-null    float64
 6   FG3M               441 non-null    float64
 7   FG3_PCT            441 non-null    float64
 8   FT_PCT             441 non-null    float64
 9   OREB               441 non-null    float64
 10  REB                441 non-null    float64
 11  AST                441 non-null    float64
 12  TOV                441 non-null    float64
 13  STL                441 non-null    float64
 14  BLK                441 non-null    float64
 15  BLKA               441 non-null    float64
 16  PFD                441 non-null    float64
 17  PTS                441 non-null    float64
 18  PLUS_MINUS         441 non-null    float64
 19  DD2                441 non-null    int64
 20  TD3                441 non-null    int64
 21  GP_RANK            441 non-null    int64
 22  W_RANK             441 non-null    int64
 23  W_PCT_RANK         441 non-null    int64
 24  MIN_RANK           441 non-null    int64
 25  FG_PCT_RANK        441 non-null    int64
 26  FG3M_RANK          441 non-null    int64
 27  FG3_PCT_RANK       441 non-null    int64
 28  FT_PCT_RANK        441 non-null    int64
 29  OREB_RANK          441 non-null    int64
 30  DREB_RANK          441 non-null    int64
 31  REB_RANK           441 non-null    int64
 32  AST_RANK           441 non-null    int64
 33  TOV_RANK           441 non-null    int64
 34  STL_RANK           441 non-null    int64
 35  BLK_RANK           441 non-null    int64
 36  BLKA_RANK          441 non-null    int64
 37  PF_RANK            441 non-null    int64
 38  PFD_RANK           441 non-null    int64
 39  PTS_RANK           441 non-null    int64
 40  PLUS_MINUS_RANK    441 non-null    int64
 41  DD2_RANK           441 non-null    int64
 42  TD3_RANK           441 non-null    int64
dtypes: float64(15), int32(1), int64(25), object(2)
memory usage: 149.9+ KB
None
Null values: 0

---------------------------

Season: 1997-98
<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 3 to 441
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          439 non-null    int64
 1   PLAYER_NAME        439 non-null    object
 2   TEAM_ID            439 non-null    float64
 3   TEAM_ABBREVIATION  439 non-null    object
 4   AGE                439 non-null    int32
 5   FG_PCT             439 non-null    float64
 6   FG3M               439 non-null    float64
 7   FG3_PCT            439 non-null    float64
 8   FT_PCT             439 non-null    float64
 9   OREB               439 non-null    float64
 10  REB                439 non-null    float64
 11  AST                439 non-null    float64
 12  TOV                439 non-null    float64
 13  STL                439 non-null    float64
 14  BLK                439 non-null    float64
 15  BLKA               439 non-null    float64
 16  PFD                439 non-null    float64
 17  PTS                439 non-null    float64
 18  PLUS_MINUS         439 non-null    float64
 19  DD2                439 non-null    int64
 20  TD3                439 non-null    int64
 21  GP_RANK            439 non-null    int64
 22  W_RANK             439 non-null    int64
 23  W_PCT_RANK         439 non-null    int64
 24  MIN_RANK           439 non-null    int64
 25  FG_PCT_RANK        439 non-null    int64
 26  FG3M_RANK          439 non-null    int64
 27  FG3_PCT_RANK       439 non-null    int64
 28  FT_PCT_RANK        439 non-null    int64
 29  OREB_RANK          439 non-null    int64
 30  DREB_RANK          439 non-null    int64
 31  REB_RANK           439 non-null    int64
 32  AST_RANK           439 non-null    int64
 33  TOV_RANK           439 non-null    int64
 34  STL_RANK           439 non-null    int64
 35  BLK_RANK           439 non-null    int64
 36  BLKA_RANK          439 non-null    int64
 37  PF_RANK            439 non-null    int64
 38  PFD_RANK           439 non-null    int64
 39  PTS_RANK           439 non-null    int64
 40  PLUS_MINUS_RANK    439 non-null    int64
 41  DD2_RANK           439 non-null    int64
 42  TD3_RANK           439 non-null    int64
dtypes: float64(15), int32(1), int64(25), object(2)
memory usage: 149.2+ KB
None
Null values: 0

---------------------------

Season: 1998-99
<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 0 to 439
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          440 non-null    int64
 1   PLAYER_NAME        440 non-null    object
 2   TEAM_ID            440 non-null    int64
 3   TEAM_ABBREVIATION  440 non-null    object
 4   AGE                440 non-null    int32
 5   FG_PCT             440 non-null    float64
 6   FG3M               440 non-null    float64
 7   FG3_PCT            440 non-null    float64
 8   FT_PCT             440 non-null    float64
 9   OREB               440 non-null    float64
 10  REB                440 non-null    float64
 11  AST                440 non-null    float64
 12  TOV                440 non-null    float64
 13  STL                440 non-null    float64
 14  BLK                440 non-null    float64
 15  BLKA               440 non-null    float64
 16  PFD                440 non-null    float64
 17  PTS                440 non-null    float64
 18  PLUS_MINUS         440 non-null    float64
 19  DD2                440 non-null    int64
 20  TD3                440 non-null    int64
 21  GP_RANK            440 non-null    int64
 22  W_RANK             440 non-null    int64
 23  W_PCT_RANK         440 non-null    int64
 24  MIN_RANK           440 non-null    int64
 25  FG_PCT_RANK        440 non-null    int64
 26  FG3M_RANK          440 non-null    int64
 27  FG3_PCT_RANK       440 non-null    int64
 28  FT_PCT_RANK        440 non-null    int64
 29  OREB_RANK          440 non-null    int64
 30  DREB_RANK          440 non-null    int64
 31  REB_RANK           440 non-null    int64
 32  AST_RANK           440 non-null    int64
 33  TOV_RANK           440 non-null    int64
 34  STL_RANK           440 non-null    int64
 35  BLK_RANK           440 non-null    int64
 36  BLKA_RANK          440 non-null    int64
 37  PF_RANK            440 non-null    int64
 38  PFD_RANK           440 non-null    int64
 39  PTS_RANK           440 non-null    int64
 40  PLUS_MINUS_RANK    440 non-null    int64
 41  DD2_RANK           440 non-null    int64
 42  TD3_RANK           440 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 149.5+ KB
None
Null values: 0

---------------------------

Season: 1999-00
<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 0 to 438
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          439 non-null    int64
 1   PLAYER_NAME        439 non-null    object
 2   TEAM_ID            439 non-null    int64
 3   TEAM_ABBREVIATION  439 non-null    object
 4   AGE                439 non-null    int32
 5   FG_PCT             439 non-null    float64
 6   FG3M               439 non-null    float64
 7   FG3_PCT            439 non-null    float64
 8   FT_PCT             439 non-null    float64
 9   OREB               439 non-null    float64
 10  REB                439 non-null    float64
 11  AST                439 non-null    float64
 12  TOV                439 non-null    float64
 13  STL                439 non-null    float64
 14  BLK                439 non-null    float64
 15  BLKA               439 non-null    float64
 16  PFD                439 non-null    float64
 17  PTS                439 non-null    float64
 18  PLUS_MINUS         439 non-null    float64
 19  DD2                439 non-null    int64
 20  TD3                439 non-null    int64
 21  GP_RANK            439 non-null    int64
 22  W_RANK             439 non-null    int64
 23  W_PCT_RANK         439 non-null    int64
 24  MIN_RANK           439 non-null    int64
 25  FG_PCT_RANK        439 non-null    int64
 26  FG3M_RANK          439 non-null    int64
 27  FG3_PCT_RANK       439 non-null    int64
 28  FT_PCT_RANK        439 non-null    int64
 29  OREB_RANK          439 non-null    int64
 30  DREB_RANK          439 non-null    int64
 31  REB_RANK           439 non-null    int64
 32  AST_RANK           439 non-null    int64
 33  TOV_RANK           439 non-null    int64
 34  STL_RANK           439 non-null    int64
 35  BLK_RANK           439 non-null    int64
 36  BLKA_RANK          439 non-null    int64
 37  PF_RANK            439 non-null    int64
 38  PFD_RANK           439 non-null    int64
 39  PTS_RANK           439 non-null    int64
 40  PLUS_MINUS_RANK    439 non-null    int64
 41  DD2_RANK           439 non-null    int64
 42  TD3_RANK           439 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 149.2+ KB
None
Null values: 0

---------------------------

Season: 2000-01
<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 440
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          441 non-null    int64
 1   PLAYER_NAME        441 non-null    object
 2   TEAM_ID            441 non-null    int64
 3   TEAM_ABBREVIATION  441 non-null    object
 4   AGE                441 non-null    int32
 5   FG_PCT             441 non-null    float64
 6   FG3M               441 non-null    float64
 7   FG3_PCT            441 non-null    float64
 8   FT_PCT             441 non-null    float64
 9   OREB               441 non-null    float64
 10  REB                441 non-null    float64
 11  AST                441 non-null    float64
 12  TOV                441 non-null    float64
 13  STL                441 non-null    float64
 14  BLK                441 non-null    float64
 15  BLKA               441 non-null    float64
 16  PFD                441 non-null    float64
 17  PTS                441 non-null    float64
 18  PLUS_MINUS         441 non-null    float64
 19  DD2                441 non-null    int64
 20  TD3                441 non-null    int64
 21  GP_RANK            441 non-null    int64
 22  W_RANK             441 non-null    int64
 23  W_PCT_RANK         441 non-null    int64
 24  MIN_RANK           441 non-null    int64
 25  FG_PCT_RANK        441 non-null    int64
 26  FG3M_RANK          441 non-null    int64
 27  FG3_PCT_RANK       441 non-null    int64
 28  FT_PCT_RANK        441 non-null    int64
 29  OREB_RANK          441 non-null    int64
 30  DREB_RANK          441 non-null    int64
 31  REB_RANK           441 non-null    int64
 32  AST_RANK           441 non-null    int64
 33  TOV_RANK           441 non-null    int64
 34  STL_RANK           441 non-null    int64
 35  BLK_RANK           441 non-null    int64
 36  BLKA_RANK          441 non-null    int64
 37  PF_RANK            441 non-null    int64
 38  PFD_RANK           441 non-null    int64
 39  PTS_RANK           441 non-null    int64
 40  PLUS_MINUS_RANK    441 non-null    int64
 41  DD2_RANK           441 non-null    int64
 42  TD3_RANK           441 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 149.9+ KB
None
Null values: 0

---------------------------

Season: 2001-02
<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 0 to 439
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          440 non-null    int64
 1   PLAYER_NAME        440 non-null    object
 2   TEAM_ID            440 non-null    int64
 3   TEAM_ABBREVIATION  440 non-null    object
 4   AGE                440 non-null    int32
 5   FG_PCT             440 non-null    float64
 6   FG3M               440 non-null    float64
 7   FG3_PCT            440 non-null    float64
 8   FT_PCT             440 non-null    float64
 9   OREB               440 non-null    float64
 10  REB                440 non-null    float64
 11  AST                440 non-null    float64
 12  TOV                440 non-null    float64
 13  STL                440 non-null    float64
 14  BLK                440 non-null    float64
 15  BLKA               440 non-null    float64
 16  PFD                440 non-null    float64
 17  PTS                440 non-null    float64
 18  PLUS_MINUS         440 non-null    float64
 19  DD2                440 non-null    int64
 20  TD3                440 non-null    int64
 21  GP_RANK            440 non-null    int64
 22  W_RANK             440 non-null    int64
 23  W_PCT_RANK         440 non-null    int64
 24  MIN_RANK           440 non-null    int64
 25  FG_PCT_RANK        440 non-null    int64
 26  FG3M_RANK          440 non-null    int64
 27  FG3_PCT_RANK       440 non-null    int64
 28  FT_PCT_RANK        440 non-null    int64
 29  OREB_RANK          440 non-null    int64
 30  DREB_RANK          440 non-null    int64
 31  REB_RANK           440 non-null    int64
 32  AST_RANK           440 non-null    int64
 33  TOV_RANK           440 non-null    int64
 34  STL_RANK           440 non-null    int64
 35  BLK_RANK           440 non-null    int64
 36  BLKA_RANK          440 non-null    int64
 37  PF_RANK            440 non-null    int64
 38  PFD_RANK           440 non-null    int64
 39  PTS_RANK           440 non-null    int64
 40  PLUS_MINUS_RANK    440 non-null    int64
 41  DD2_RANK           440 non-null    int64
 42  TD3_RANK           440 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 149.5+ KB
None
Null values: 0

---------------------------

Season: 2002-03
<class 'pandas.core.frame.DataFrame'>
Int64Index: 428 entries, 0 to 427
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          428 non-null    int64
 1   PLAYER_NAME        428 non-null    object
 2   TEAM_ID            428 non-null    int64
 3   TEAM_ABBREVIATION  428 non-null    object
 4   AGE                428 non-null    int32
 5   FG_PCT             428 non-null    float64
 6   FG3M               428 non-null    float64
 7   FG3_PCT            428 non-null    float64
 8   FT_PCT             428 non-null    float64
 9   OREB               428 non-null    float64
 10  REB                428 non-null    float64
 11  AST                428 non-null    float64
 12  TOV                428 non-null    float64
 13  STL                428 non-null    float64
 14  BLK                428 non-null    float64
 15  BLKA               428 non-null    float64
 16  PFD                428 non-null    float64
 17  PTS                428 non-null    float64
 18  PLUS_MINUS         428 non-null    float64
 19  DD2                428 non-null    int64
 20  TD3                428 non-null    int64
 21  GP_RANK            428 non-null    int64
 22  W_RANK             428 non-null    int64
 23  W_PCT_RANK         428 non-null    int64
 24  MIN_RANK           428 non-null    int64
 25  FG_PCT_RANK        428 non-null    int64
 26  FG3M_RANK          428 non-null    int64
 27  FG3_PCT_RANK       428 non-null    int64
 28  FT_PCT_RANK        428 non-null    int64
 29  OREB_RANK          428 non-null    int64
 30  DREB_RANK          428 non-null    int64
 31  REB_RANK           428 non-null    int64
 32  AST_RANK           428 non-null    int64
 33  TOV_RANK           428 non-null    int64
 34  STL_RANK           428 non-null    int64
 35  BLK_RANK           428 non-null    int64
 36  BLKA_RANK          428 non-null    int64
 37  PF_RANK            428 non-null    int64
 38  PFD_RANK           428 non-null    int64
 39  PTS_RANK           428 non-null    int64
 40  PLUS_MINUS_RANK    428 non-null    int64
 41  DD2_RANK           428 non-null    int64
 42  TD3_RANK           428 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 145.5+ KB
None
Null values: 0

---------------------------

Season: 2003-04
<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 0 to 441
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          442 non-null    int64
 1   PLAYER_NAME        442 non-null    object
 2   TEAM_ID            442 non-null    int64
 3   TEAM_ABBREVIATION  442 non-null    object
 4   AGE                442 non-null    int32
 5   FG_PCT             442 non-null    float64
 6   FG3M               442 non-null    float64
 7   FG3_PCT            442 non-null    float64
 8   FT_PCT             442 non-null    float64
 9   OREB               442 non-null    float64
 10  REB                442 non-null    float64
 11  AST                442 non-null    float64
 12  TOV                442 non-null    float64
 13  STL                442 non-null    float64
 14  BLK                442 non-null    float64
 15  BLKA               442 non-null    float64
 16  PFD                442 non-null    float64
 17  PTS                442 non-null    float64
 18  PLUS_MINUS         442 non-null    float64
 19  DD2                442 non-null    int64
 20  TD3                442 non-null    int64
 21  GP_RANK            442 non-null    int64
 22  W_RANK             442 non-null    int64
 23  W_PCT_RANK         442 non-null    int64
 24  MIN_RANK           442 non-null    int64
 25  FG_PCT_RANK        442 non-null    int64
 26  FG3M_RANK          442 non-null    int64
 27  FG3_PCT_RANK       442 non-null    int64
 28  FT_PCT_RANK        442 non-null    int64
 29  OREB_RANK          442 non-null    int64
 30  DREB_RANK          442 non-null    int64
 31  REB_RANK           442 non-null    int64
 32  AST_RANK           442 non-null    int64
 33  TOV_RANK           442 non-null    int64
 34  STL_RANK           442 non-null    int64
 35  BLK_RANK           442 non-null    int64
 36  BLKA_RANK          442 non-null    int64
 37  PF_RANK            442 non-null    int64
 38  PFD_RANK           442 non-null    int64
 39  PTS_RANK           442 non-null    int64
 40  PLUS_MINUS_RANK    442 non-null    int64
 41  DD2_RANK           442 non-null    int64
 42  TD3_RANK           442 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 150.2+ KB
None
Null values: 0

---------------------------

Season: 2004-05
<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 0 to 463
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          464 non-null    int64
 1   PLAYER_NAME        464 non-null    object
 2   TEAM_ID            464 non-null    int64
 3   TEAM_ABBREVIATION  464 non-null    object
 4   AGE                464 non-null    int32
 5   FG_PCT             464 non-null    float64
 6   FG3M               464 non-null    float64
 7   FG3_PCT            464 non-null    float64
 8   FT_PCT             464 non-null    float64
 9   OREB               464 non-null    float64
 10  REB                464 non-null    float64
 11  AST                464 non-null    float64
 12  TOV                464 non-null    float64
 13  STL                464 non-null    float64
 14  BLK                464 non-null    float64
 15  BLKA               464 non-null    float64
 16  PFD                464 non-null    float64
 17  PTS                464 non-null    float64
 18  PLUS_MINUS         464 non-null    float64
 19  DD2                464 non-null    int64
 20  TD3                464 non-null    int64

Null values: 0

---------------------------

Season: 2007-08
<class 'pandas.core.frame.DataFrame'>
Int64Index: 451 entries, 0 to 450
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          451 non-null    int64
 1   PLAYER_NAME        451 non-null    object
 2   TEAM_ID            451 non-null    int64
 3   TEAM_ABBREVIATION  451 non-null    object
 4   AGE                451 non-null    int32
 5   FG_PCT             451 non-null    float64
 6   FG3M               451 non-null    float64
 7   FG3_PCT            451 non-null    float64
 8   FT_PCT             451 non-null    float64
 9   OREB               451 non-null    float64
 10  REB                451 non-null    float64
 11  AST                451 non-null    float64
 12  TOV                451 non-null    float64
 13  STL                451 non-null    float64
 14  BLK                451 non-null    float64
 15  BLKA               451 non-null    float64
 16  PFD                451 non-null    float64
 17  PTS                451 non-null    float64
 18  PLUS_MINUS         451 non-null    float64
 19  DD2                451 non-null    int64
 20  TD3                451 non-null    int64
 21  GP_RANK            451 non-null    int64
 22  W_RANK             451 non-null    int64
 23  W_PCT_RANK         451 non-null    int64
 24  MIN_RANK           451 non-null    int64
 25  FG_PCT_RANK        451 non-null    int64
 26  FG3M_RANK          451 non-null    int64
 27  FG3_PCT_RANK       451 non-null    int64
 28  FT_PCT_RANK        451 non-null    int64
 29  OREB_RANK          451 non-null    int64
 30  DREB_RANK          451 non-null    int64
 31  REB_RANK           451 non-null    int64
 32  AST_RANK           451 non-null    int64
 33  TOV_RANK           451 non-null    int64
 34  STL_RANK           451 non-null    int64
 35  BLK_RANK           451 non-null    int64
 36  BLKA_RANK          451 non-null    int64
 37  PF_RANK            451 non-null    int64
 38  PFD_RANK           451 non-null    int64
 39  PTS_RANK           451 non-null    int64
 40  PLUS_MINUS_RANK    451 non-null    int64
 41  DD2_RANK           451 non-null    int64
 42  TD3_RANK           451 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 153.3+ KB
None
Null values: 0

---------------------------

Season: 2008-09
<class 'pandas.core.frame.DataFrame'>
Int64Index: 445 entries, 0 to 444
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          445 non-null    int64
 1   PLAYER_NAME        445 non-null    object
 2   TEAM_ID            445 non-null    int64
 3   TEAM_ABBREVIATION  445 non-null    object
 4   AGE                445 non-null    int32
 5   FG_PCT             445 non-null    float64
 6   FG3M               445 non-null    float64
 7   FG3_PCT            445 non-null    float64
 8   FT_PCT             445 non-null    float64
 9   OREB               445 non-null    float64
 10  REB                445 non-null    float64
 11  AST                445 non-null    float64
 12  TOV                445 non-null    float64
 13  STL                445 non-null    float64
 14  BLK                445 non-null    float64
 15  BLKA               445 non-null    float64
 16  PFD                445 non-null    float64
 17  PTS                445 non-null    float64
 18  PLUS_MINUS         445 non-null    float64
 19  DD2                445 non-null    int64
 20  TD3                445 non-null    int64
 21  GP_RANK            445 non-null    int64
 22  W_RANK             445 non-null    int64
 23  W_PCT_RANK         445 non-null    int64
 24  MIN_RANK           445 non-null    int64
 25  FG_PCT_RANK        445 non-null    int64
 26  FG3M_RANK          445 non-null    int64
 27  FG3_PCT_RANK       445 non-null    int64
 28  FT_PCT_RANK        445 non-null    int64
 29  OREB_RANK          445 non-null    int64
 30  DREB_RANK          445 non-null    int64
 31  REB_RANK           445 non-null    int64
 32  AST_RANK           445 non-null    int64
 33  TOV_RANK           445 non-null    int64
 34  STL_RANK           445 non-null    int64
 35  BLK_RANK           445 non-null    int64
 36  BLKA_RANK          445 non-null    int64
 37  PF_RANK            445 non-null    int64
 38  PFD_RANK           445 non-null    int64
 39  PTS_RANK           445 non-null    int64
 40  PLUS_MINUS_RANK    445 non-null    int64
 41  DD2_RANK           445 non-null    int64
 42  TD3_RANK           445 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 151.2+ KB
None
Null values: 0

---------------------------

Season: 2009-10
<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 0 to 441
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          442 non-null    int64
 1   PLAYER_NAME        442 non-null    object
 2   TEAM_ID            442 non-null    int64
 3   TEAM_ABBREVIATION  442 non-null    object
 4   AGE                442 non-null    int32
 5   FG_PCT             442 non-null    float64
 6   FG3M               442 non-null    float64
 7   FG3_PCT            442 non-null    float64
 8   FT_PCT             442 non-null    float64
 9   OREB               442 non-null    float64
 10  REB                442 non-null    float64
 11  AST                442 non-null    float64
 12  TOV                442 non-null    float64
 13  STL                442 non-null    float64
 14  BLK                442 non-null    float64
 15  BLKA               442 non-null    float64
 16  PFD                442 non-null    float64
 17  PTS                442 non-null    float64
 18  PLUS_MINUS         442 non-null    float64
 19  DD2                442 non-null    int64
 20  TD3                442 non-null    int64
 21  GP_RANK            442 non-null    int64
 22  W_RANK             442 non-null    int64
 23  W_PCT_RANK         442 non-null    int64
 24  MIN_RANK           442 non-null    int64
 25  FG_PCT_RANK        442 non-null    int64
 26  FG3M_RANK          442 non-null    int64
 27  FG3_PCT_RANK       442 non-null    int64
 28  FT_PCT_RANK        442 non-null    int64
 29  OREB_RANK          442 non-null    int64
 30  DREB_RANK          442 non-null    int64
 31  REB_RANK           442 non-null    int64
 32  AST_RANK           442 non-null    int64
 33  TOV_RANK           442 non-null    int64
 34  STL_RANK           442 non-null    int64
 35  BLK_RANK           442 non-null    int64
 36  BLKA_RANK          442 non-null    int64
 37  PF_RANK            442 non-null    int64
 38  PFD_RANK           442 non-null    int64
 39  PTS_RANK           442 non-null    int64
 40  PLUS_MINUS_RANK    442 non-null    int64
 41  DD2_RANK           442 non-null    int64
 42  TD3_RANK           442 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 150.2+ KB
None
Null values: 0

---------------------------

Season: 2010-11
<class 'pandas.core.frame.DataFrame'>
Int64Index: 452 entries, 0 to 451
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          452 non-null    int64
 1   PLAYER_NAME        452 non-null    object
 2   TEAM_ID            452 non-null    int64
 3   TEAM_ABBREVIATION  452 non-null    object
 4   AGE                452 non-null    int32
 5   FG_PCT             452 non-null    float64
 6   FG3M               452 non-null    float64
 7   FG3_PCT            452 non-null    float64
 8   FT_PCT             452 non-null    float64
 9   OREB               452 non-null    float64
 10  REB                452 non-null    float64
 11  AST                452 non-null    float64
 12  TOV                452 non-null    float64
 13  STL                452 non-null    float64
 14  BLK                452 non-null    float64
 15  BLKA               452 non-null    float64
 16  PFD                452 non-null    float64
 17  PTS                452 non-null    float64
 18  PLUS_MINUS         452 non-null    float64
 19  DD2                452 non-null    int64
 20  TD3                452 non-null    int64
 21  GP_RANK            452 non-null    int64
 22  W_RANK             452 non-null    int64
 23  W_PCT_RANK         452 non-null    int64
 24  MIN_RANK           452 non-null    int64
 25  FG_PCT_RANK        452 non-null    int64
 26  FG3M_RANK          452 non-null    int64
 27  FG3_PCT_RANK       452 non-null    int64
 28  FT_PCT_RANK        452 non-null    int64
 29  OREB_RANK          452 non-null    int64
 30  DREB_RANK          452 non-null    int64
 31  REB_RANK           452 non-null    int64
 32  AST_RANK           452 non-null    int64
 33  TOV_RANK           452 non-null    int64
 34  STL_RANK           452 non-null    int64
 35  BLK_RANK           452 non-null    int64
 36  BLKA_RANK          452 non-null    int64
 37  PF_RANK            452 non-null    int64
 38  PFD_RANK           452 non-null    int64
 39  PTS_RANK           452 non-null    int64
 40  PLUS_MINUS_RANK    452 non-null    int64
 41  DD2_RANK           452 non-null    int64
 42  TD3_RANK           452 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 153.6+ KB
None
Null values: 0

---------------------------

Season: 2011-12
<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 477
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          478 non-null    int64
 1   PLAYER_NAME        478 non-null    object
 2   TEAM_ID            478 non-null    int64
 3   TEAM_ABBREVIATION  478 non-null    object
 4   AGE                478 non-null    int32
 5   FG_PCT             478 non-null    float64
 6   FG3M               478 non-null    float64
 7   FG3_PCT            478 non-null    float64
 8   FT_PCT             478 non-null    float64
 9   OREB               478 non-null    float64
 10  REB                478 non-null    float64
 11  AST                478 non-null    float64
 12  TOV                478 non-null    float64
 13  STL                478 non-null    float64
 14  BLK                478 non-null    float64
 15  BLKA               478 non-null    float64
 16  PFD                478 non-null    float64
 17  PTS                478 non-null    float64
 18  PLUS_MINUS         478 non-null    float64
 19  DD2                478 non-null    int64
 20  TD3                478 non-null    int64
 21  GP_RANK            478 non-null    int64
 22  W_RANK             478 non-null    int64
 23  W_PCT_RANK         478 non-null    int64
 24  MIN_RANK           478 non-null    int64
 25  FG_PCT_RANK        478 non-null    int64
 26  FG3M_RANK          478 non-null    int64
 27  FG3_PCT_RANK       478 non-null    int64
 28  FT_PCT_RANK        478 non-null    int64
 29  OREB_RANK          478 non-null    int64
 30  DREB_RANK          478 non-null    int64
 31  REB_RANK           478 non-null    int64
 32  AST_RANK           478 non-null    int64
 33  TOV_RANK           478 non-null    int64
 34  STL_RANK           478 non-null    int64
 35  BLK_RANK           478 non-null    int64
 36  BLKA_RANK          478 non-null    int64
 37  PF_RANK            478 non-null    int64
 38  PFD_RANK           478 non-null    int64
 39  PTS_RANK           478 non-null    int64
 40  PLUS_MINUS_RANK    478 non-null    int64
 41  DD2_RANK           478 non-null    int64
 42  TD3_RANK           478 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 162.4+ KB
None
Null values: 0

---------------------------

Season: 2012-13
<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 0 to 468
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          469 non-null    int64
 1   PLAYER_NAME        469 non-null    object
 2   TEAM_ID            469 non-null    int64
 3   TEAM_ABBREVIATION  469 non-null    object
 4   AGE                469 non-null    int32
 5   FG_PCT             469 non-null    float64
 6   FG3M               469 non-null    float64
 7   FG3_PCT            469 non-null    float64
 8   FT_PCT             469 non-null    float64
 9   OREB               469 non-null    float64
 10  REB                469 non-null    float64
 11  AST                469 non-null    float64
 12  TOV                469 non-null    float64
 13  STL                469 non-null    float64
 14  BLK                469 non-null    float64
 15  BLKA               469 non-null    float64
 16  PFD                469 non-null    float64
 17  PTS                469 non-null    float64
 18  PLUS_MINUS         469 non-null    float64
 19  DD2                469 non-null    int64
 20  TD3                469 non-null    int64
 21  GP_RANK            469 non-null    int64
 22  W_RANK             469 non-null    int64
 23  W_PCT_RANK         469 non-null    int64
 24  MIN_RANK           469 non-null    int64
 25  FG_PCT_RANK        469 non-null    int64
 26  FG3M_RANK          469 non-null    int64
 27  FG3_PCT_RANK       469 non-null    int64
 28  FT_PCT_RANK        469 non-null    int64
 29  OREB_RANK          469 non-null    int64
 30  DREB_RANK          469 non-null    int64
 31  REB_RANK           469 non-null    int64
 32  AST_RANK           469 non-null    int64
 33  TOV_RANK           469 non-null    int64
 34  STL_RANK           469 non-null    int64
 35  BLK_RANK           469 non-null    int64
 36  BLKA_RANK          469 non-null    int64
 37  PF_RANK            469 non-null    int64
 38  PFD_RANK           469 non-null    int64
 39  PTS_RANK           469 non-null    int64
 40  PLUS_MINUS_RANK    469 non-null    int64
 41  DD2_RANK           469 non-null    int64
 42  TD3_RANK           469 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 159.4+ KB
None

Null values: 0

---------------------------

Season: 2013-14
<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 481
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          482 non-null    int64
 1   PLAYER_NAME        482 non-null    object
 2   TEAM_ID            482 non-null    int64
 3   TEAM_ABBREVIATION  482 non-null    object
 4   AGE                482 non-null    int32
 5   FG_PCT             482 non-null    float64
 6   FG3M               482 non-null    float64
 7   FG3_PCT            482 non-null    float64
 8   FT_PCT             482 non-null    float64
 9   OREB               482 non-null    float64
 10  REB                482 non-null    float64
 11  AST                482 non-null    float64
 12  TOV                482 non-null    float64
 13  STL                482 non-null    float64
 14  BLK                482 non-null    float64
 15  BLKA               482 non-null    float64
 16  PFD                482 non-null    float64
 17  PTS                482 non-null    float64
 18  PLUS_MINUS         482 non-null    float64
 19  DD2                482 non-null    int64
 20  TD3                482 non-null    int64
 21  GP_RANK            482 non-null    int64
 22  W_RANK             482 non-null    int64
 23  W_PCT_RANK         482 non-null    int64
 24  MIN_RANK           482 non-null    int64
 25  FG_PCT_RANK        482 non-null    int64
 26  FG3M_RANK          482 non-null    int64
 27  FG3_PCT_RANK       482 non-null    int64
 28  FT_PCT_RANK        482 non-null    int64
 29  OREB_RANK          482 non-null    int64
 30  DREB_RANK          482 non-null    int64
 31  REB_RANK           482 non-null    int64
 32  AST_RANK           482 non-null    int64
 33  TOV_RANK           482 non-null    int64
 34  STL_RANK           482 non-null    int64
 35  BLK_RANK           482 non-null    int64
 36  BLKA_RANK          482 non-null    int64
 37  PF_RANK            482 non-null    int64
 38  PFD_RANK           482 non-null    int64
 39  PTS_RANK           482 non-null    int64
 40  PLUS_MINUS_RANK    482 non-null    int64
 41  DD2_RANK           482 non-null    int64
 42  TD3_RANK           482 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 163.8+ KB
None
Null values: 0

---------------------------

Season: 2014-15
<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          492 non-null    int64
 1   PLAYER_NAME        492 non-null    object
 2   TEAM_ID            492 non-null    int64
 3   TEAM_ABBREVIATION  492 non-null    object
 4   AGE                492 non-null    int32
 5   FG_PCT             492 non-null    float64
 6   FG3M               492 non-null    float64
 7   FG3_PCT            492 non-null    float64
 8   FT_PCT             492 non-null    float64
 9   OREB               492 non-null    float64
 10  REB                492 non-null    float64
 11  AST                492 non-null    float64
 12  TOV                492 non-null    float64
 13  STL                492 non-null    float64
 14  BLK                492 non-null    float64
 15  BLKA               492 non-null    float64
 16  PFD                492 non-null    float64
 17  PTS                492 non-null    float64
 18  PLUS_MINUS         492 non-null    float64
 19  DD2                492 non-null    int64
 20  TD3                492 non-null    int64
 21  GP_RANK            492 non-null    int64
 22  W_RANK             492 non-null    int64
 23  W_PCT_RANK         492 non-null    int64
 24  MIN_RANK           492 non-null    int64
 25  FG_PCT_RANK        492 non-null    int64
 26  FG3M_RANK          492 non-null    int64
 27  FG3_PCT_RANK       492 non-null    int64
 28  FT_PCT_RANK        492 non-null    int64
 29  OREB_RANK          492 non-null    int64
 30  DREB_RANK          492 non-null    int64
 31  REB_RANK           492 non-null    int64
 32  AST_RANK           492 non-null    int64
 33  TOV_RANK           492 non-null    int64
 34  STL_RANK           492 non-null    int64
 35  BLK_RANK           492 non-null    int64
 36  BLKA_RANK          492 non-null    int64
 37  PF_RANK            492 non-null    int64
 38  PFD_RANK           492 non-null    int64
 39  PTS_RANK           492 non-null    int64
 40  PLUS_MINUS_RANK    492 non-null    int64
 41  DD2_RANK           492 non-null    int64
 42  TD3_RANK           492 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 167.2+ KB
None
Null values: 0

---------------------------

Season: 2015-16
<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 0 to 475
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          476 non-null    int64
 1   PLAYER_NAME        476 non-null    object
 2   TEAM_ID            476 non-null    int64
 3   TEAM_ABBREVIATION  476 non-null    object
 4   AGE                476 non-null    int32
 5   FG_PCT             476 non-null    float64
 6   FG3M               476 non-null    float64
 7   FG3_PCT            476 non-null    float64
 8   FT_PCT             476 non-null    float64
 9   OREB               476 non-null    float64
 10  REB                476 non-null    float64
 11  AST                476 non-null    float64
 12  TOV                476 non-null    float64
 13  STL                476 non-null    float64
 14  BLK                476 non-null    float64
 15  BLKA               476 non-null    float64
 16  PFD                476 non-null    float64
 17  PTS                476 non-null    float64
 18  PLUS_MINUS         476 non-null    float64
 19  DD2                476 non-null    int64
 20  TD3                476 non-null    int64
 21  GP_RANK            476 non-null    int64
 22  W_RANK             476 non-null    int64
 23  W_PCT_RANK         476 non-null    int64
 24  MIN_RANK           476 non-null    int64
 25  FG_PCT_RANK        476 non-null    int64
 26  FG3M_RANK          476 non-null    int64
 27  FG3_PCT_RANK       476 non-null    int64
 28  FT_PCT_RANK        476 non-null    int64
 29  OREB_RANK          476 non-null    int64
 30  DREB_RANK          476 non-null    int64
 31  REB_RANK           476 non-null    int64
 32  AST_RANK           476 non-null    int64
 33  TOV_RANK           476 non-null    int64
 34  STL_RANK           476 non-null    int64
 35  BLK_RANK           476 non-null    int64
 36  BLKA_RANK          476 non-null    int64
 37  PF_RANK            476 non-null    int64
 38  PFD_RANK           476 non-null    int64
 39  PTS_RANK           476 non-null    int64
 40  PLUS_MINUS_RANK    476 non-null    int64
 41  DD2_RANK           476 non-null    int64
 42  TD3_RANK           476 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 161.8+ KB
None
Null values: 0

---------------------------

Season: 2016-17
<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 0 to 485
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          486 non-null    int64
 1   PLAYER_NAME        486 non-null    object
 2   TEAM_ID            486 non-null    int64
 3   TEAM_ABBREVIATION  486 non-null    object
 4   AGE                486 non-null    int32
 5   FG_PCT             486 non-null    float64
 6   FG3M               486 non-null    float64
 7   FG3_PCT            486 non-null    float64
 8   FT_PCT             486 non-null    float64
 9   OREB               486 non-null    float64
 10  REB                486 non-null    float64
 11  AST                486 non-null    float64
 12  TOV                486 non-null    float64
 13  STL                486 non-null    float64
 14  BLK                486 non-null    float64
 15  BLKA               486 non-null    float64
 16  PFD                486 non-null    float64
 17  PTS                486 non-null    float64
 18  PLUS_MINUS         486 non-null    float64
 19  DD2                486 non-null    int64
 20  TD3                486 non-null    int64
 21  GP_RANK            486 non-null    int64
 22  W_RANK             486 non-null    int64
 23  W_PCT_RANK         486 non-null    int64
 24  MIN_RANK           486 non-null    int64
 25  FG_PCT_RANK        486 non-null    int64
 26  FG3M_RANK          486 non-null    int64
 27  FG3_PCT_RANK       486 non-null    int64
 28  FT_PCT_RANK        486 non-null    int64
 29  OREB_RANK          486 non-null    int64
 30  DREB_RANK          486 non-null    int64
 31  REB_RANK           486 non-null    int64
 32  AST_RANK           486 non-null    int64
 33  TOV_RANK           486 non-null    int64
 34  STL_RANK           486 non-null    int64
 35  BLK_RANK           486 non-null    int64
 36  BLKA_RANK          486 non-null    int64
 37  PF_RANK            486 non-null    int64
 38  PFD_RANK           486 non-null    int64
 39  PTS_RANK           486 non-null    int64
 40  PLUS_MINUS_RANK    486 non-null    int64
 41  DD2_RANK           486 non-null    int64
 42  TD3_RANK           486 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 165.2+ KB
None
Null values: 0

---------------------------

Season: 2017-18
<class 'pandas.core.frame.DataFrame'>
Int64Index: 540 entries, 0 to 539
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          540 non-null    int64
 1   PLAYER_NAME        540 non-null    object
 2   TEAM_ID            540 non-null    int64
 3   TEAM_ABBREVIATION  540 non-null    object
 4   AGE                540 non-null    int32
 5   FG_PCT             540 non-null    float64
 6   FG3M               540 non-null    float64
 7   FG3_PCT            540 non-null    float64
 8   FT_PCT             540 non-null    float64
 9   OREB               540 non-null    float64
 10  REB                540 non-null    float64
 11  AST                540 non-null    float64
 12  TOV                540 non-null    float64
 13  STL                540 non-null    float64
 14  BLK                540 non-null    float64
 15  BLKA               540 non-null    float64
 16  PFD                540 non-null    float64
 17  PTS                540 non-null    float64
 18  PLUS_MINUS         540 non-null    float64
 19  DD2                540 non-null    int64
 20  TD3                540 non-null    int64
 21  GP_RANK            540 non-null    int64
 22  W_RANK             540 non-null    int64
 23  W_PCT_RANK         540 non-null    int64
 24  MIN_RANK           540 non-null    int64
 25  FG_PCT_RANK        540 non-null    int64
 26  FG3M_RANK          540 non-null    int64
 27  FG3_PCT_RANK       540 non-null    int64
 28  FT_PCT_RANK        540 non-null    int64
 29  OREB_RANK          540 non-null    int64
 30  DREB_RANK          540 non-null    int64
 31  REB_RANK           540 non-null    int64
 32  AST_RANK           540 non-null    int64
 33  TOV_RANK           540 non-null    int64
 34  STL_RANK           540 non-null    int64
 35  BLK_RANK           540 non-null    int64
 36  BLKA_RANK          540 non-null    int64
 37  PF_RANK            540 non-null    int64
 38  PFD_RANK           540 non-null    int64
 39  PTS_RANK           540 non-null    int64
 40  PLUS_MINUS_RANK    540 non-null    int64
 41  DD2_RANK           540 non-null    int64
 42  TD3_RANK           540 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 183.5+ KB
None
Null values: 0

---------------------------

Season: 2018-19
<class 'pandas.core.frame.DataFrame'>
Int64Index: 530 entries, 0 to 529
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          530 non-null    int64
 1   PLAYER_NAME        530 non-null    object
 2   TEAM_ID            530 non-null    int64
 3   TEAM_ABBREVIATION  530 non-null    object
 4   AGE                530 non-null    int32
 5   FG_PCT             530 non-null    float64
 6   FG3M               530 non-null    float64
 7   FG3_PCT            530 non-null    float64
 8   FT_PCT             530 non-null    float64
 9   OREB               530 non-null    float64
 10  REB                530 non-null    float64
 11  AST                530 non-null    float64
 12  TOV                530 non-null    float64
 13  STL                530 non-null    float64
 14  BLK                530 non-null    float64
 15  BLKA               530 non-null    float64
 16  PFD                530 non-null    float64
 17  PTS                530 non-null    float64
 18  PLUS_MINUS         530 non-null    float64
 19  DD2                530 non-null    int64
 20  TD3                530 non-null    int64
 21  GP_RANK            530 non-null    int64
 22  W_RANK             530 non-null    int64
 23  W_PCT_RANK         530 non-null    int64
 24  MIN_RANK           530 non-null    int64
 25  FG_PCT_RANK        530 non-null    int64
 26  FG3M_RANK          530 non-null    int64
 27  FG3_PCT_RANK       530 non-null    int64
 28  FT_PCT_RANK        530 non-null    int64
 29  OREB_RANK          530 non-null    int64
 30  DREB_RANK          530 non-null    int64
 31  REB_RANK           530 non-null    int64
 32  AST_RANK           530 non-null    int64
 33  TOV_RANK           530 non-null    int64
 34  STL_RANK           530 non-null    int64
 35  BLK_RANK           530 non-null    int64
 36  BLKA_RANK          530 non-null    int64
 37  PF_RANK            530 non-null    int64
 38  PFD_RANK           530 non-null    int64
 39  PTS_RANK           530 non-null    int64
 40  PLUS_MINUS_RANK    530 non-null    int64
 41  DD2_RANK           530 non-null    int64
 42  TD3_RANK           530 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 180.1+ KB
None
Null values: 0

---------------------------

Season: 2019-20
<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 0 to 528
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          529 non-null    int64
 1   PLAYER_NAME        529 non-null    object
 2   TEAM_ID            529 non-null    int64
 3   TEAM_ABBREVIATION  529 non-null    object
 4   AGE                529 non-null    int32
 5   FG_PCT             529 non-null    float64
 6   FG3M               529 non-null    float64
 7   FG3_PCT            529 non-null    float64
 8   FT_PCT             529 non-null    float64
 9   OREB               529 non-null    float64
 10  REB                529 non-null    float64
 11  AST                529 non-null    float64
 12  TOV                529 non-null    float64
 13  STL                529 non-null    float64
 14  BLK                529 non-null    float64
 15  BLKA               529 non-null    float64
 16  PFD                529 non-null    float64
 17  PTS                529 non-null    float64
 18  PLUS_MINUS         529 non-null    float64
 19  DD2                529 non-null    int64
 20  TD3                529 non-null    int64
 21  GP_RANK            529 non-null    int64
 22  W_RANK             529 non-null    int64
 23  W_PCT_RANK         529 non-null    int64
 24  MIN_RANK           529 non-null    int64
 25  FG_PCT_RANK        529 non-null    int64
 26  FG3M_RANK          529 non-null    int64
 27  FG3_PCT_RANK       529 non-null    int64
 28  FT_PCT_RANK        529 non-null    int64
 29  OREB_RANK          529 non-null    int64
 30  DREB_RANK          529 non-null    int64
 31  REB_RANK           529 non-null    int64
 32  AST_RANK           529 non-null    int64
 33  TOV_RANK           529 non-null    int64
 34  STL_RANK           529 non-null    int64
 35  BLK_RANK           529 non-null    int64
 36  BLKA_RANK          529 non-null    int64
 37  PF_RANK            529 non-null    int64
 38  PFD_RANK           529 non-null    int64
 39  PTS_RANK           529 non-null    int64
 40  PLUS_MINUS_RANK    529 non-null    int64
 41  DD2_RANK           529 non-null    int64
 42  TD3_RANK           529 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 179.8+ KB

None
Null values: 0

---------------------------

Season: 2020-21
<class 'pandas.core.frame.DataFrame'>
Int64Index: 540 entries, 0 to 539
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          540 non-null    int64
 1   PLAYER_NAME        540 non-null    object
 2   TEAM_ID            540 non-null    int64
 3   TEAM_ABBREVIATION  540 non-null    object
 4   AGE                540 non-null    int32
 5   FG_PCT             540 non-null    float64
 6   FG3M               540 non-null    float64
 7   FG3_PCT            540 non-null    float64
 8   FT_PCT             540 non-null    float64
 9   OREB               540 non-null    float64
 10  REB                540 non-null    float64
 11  AST                540 non-null    float64
 12  TOV                540 non-null    float64
 13  STL                540 non-null    float64
 14  BLK                540 non-null    float64
 15  BLKA               540 non-null    float64
 16  PFD                540 non-null    float64
 17  PTS                540 non-null    float64
 18  PLUS_MINUS         540 non-null    float64
 19  DD2                540 non-null    int64
 20  TD3                540 non-null    int64
 21  GP_RANK            540 non-null    int64
 22  W_RANK             540 non-null    int64
 23  W_PCT_RANK         540 non-null    int64
 24  MIN_RANK           540 non-null    int64
 25  FG_PCT_RANK        540 non-null    int64
 26  FG3M_RANK          540 non-null    int64
 27  FG3_PCT_RANK       540 non-null    int64
 28  FT_PCT_RANK        540 non-null    int64
 29  OREB_RANK          540 non-null    int64
 30  DREB_RANK          540 non-null    int64
 31  REB_RANK           540 non-null    int64
 32  AST_RANK           540 non-null    int64
 33  TOV_RANK           540 non-null    int64
 34  STL_RANK           540 non-null    int64
 35  BLK_RANK           540 non-null    int64
 36  BLKA_RANK          540 non-null    int64
 37  PF_RANK            540 non-null    int64
 38  PFD_RANK           540 non-null    int64
 39  PTS_RANK           540 non-null    int64
 40  PLUS_MINUS_RANK    540 non-null    int64
 41  DD2_RANK           540 non-null    int64
 42  TD3_RANK           540 non-null    int64
dtypes: float64(14), int32(1), int64(26), object(2)
memory usage: 183.5+ KB
None
Null values: 0

---------------------------